/* Responsive Video for iphones and Mobile */

@media only screen and (min-device-width:320px) and (max-device-width:1024px) {
    /* Responsive Iframe Solution */

    .vidplyr {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .vidplyr iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
    }
}
